[Unit]
Description=Sentry Background Worker
After=network.target

[Service]
Type=simple
User=sentry
Group=sentry
WorkingDirectory={{sentry_venv_location}}
Environment=SENTRY_CONF=/etc/sentry
ExecStart={{sentry_venv_location}}/bin/sentry run worker

[Install]
WantedBy=multi-user.target